*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    background-color: rgba(70, 119, 150, 0.548);
    color: red;
} 

p{
    font-family: Helvetica;
    font-size: 115%;
    text-align: center;
    line-height: 25px;
}