body{
    background-color: rgba(70, 119, 150, 0.548);
    color: whitesmoke;
}   

img{
    border-radius: 10%;
}


h2{
    font-family: Helvetica;
    font-size: 200%;
    text-align: left;
    color: black; 
    text-indent: 25px;    
}

p{
    font-family: Helvetica;
    font-size: 115%;
    text-align: left;
    line-height: 25px; /*espaçamento das linhas no texto*/
}